body {
  background: url(/background/background.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  backdrop-filter: brightness(0.5) blur(6px);
}

main {
  max-width: 1440px;
  margin: auto;
  padding: 25px;
}
