html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;

  background: url(/background.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  font-family: "DM Sans", serif;
}

main {
  max-width: 1140px;
  margin: auto;
  padding: 25px;
}
